#wrap {
    position: relative;
}

.box {
    position: absolute;
    width: 90px;
    height: 90px;
    background: #3399FF
}


#box1 {
    top:10px;
}
/* #box2 {
    top:110px;
}
#box3 {
    top:210px;
} */