#wrap {
    position: relative;
}

.box {
    position: absolute;
    width: 90px;
    height: 90px;
    background: #3399FF
}

#clickstatus {
    top:10px;
}
#movestatus {
    top:50px;
}
#box1 {
    top:100px;
}